In [1]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np
import country_converter as coco
import itertools

### Build df from Url

In [11]:
url='https://www.worldometers.info/coronavirus/'

# Scraping the Url
page = requests.get(url)
doc = lh.fromstring(page.content)
todaydoc = doc.get_element_by_id("main_table_countries_today")

# Parse data
th_elements = todaydoc.xpath('//th') # header
td_elements = todaydoc.xpath('//td') # cells content

headers = [th_element.text_content() for th_element in th_elements]
headers = headers[:len(headers)//2]


content = [td_element.text_content() for td_element in td_elements]
rows_content = np.array(content).reshape(int(len(content)/len(headers)),len(headers)).tolist()[:-1] #rm Today row
rows_content = list(k for k,_ in itertools.groupby(rows_content))

df = pd.DataFrame(rows_content)
df.columns = headers
df = df.drop_duplicates(subset= 'Country,Other', keep='first')

ValueError: cannot reshape array of size 13167 into shape (940,14)

In [22]:
ref_headers = ['Country,Other',
  'TotalCases',
  'NewCases',
  'TotalDeaths',
  'NewDeaths',
  'TotalRecovered',
  'NewRecovered',
  'ActiveCases',
  'Serious,Critical',
  'Tot\xa0Cases/1M pop',
  'Deaths/1M pop',
  'TotalTests',
  'Tests/\n1M pop\n',
  'Population']

[el.text_content() for el in todaydoc.xpath('//tr')][0]

'\n#\nCountry,Other\nTotalCases\nNewCases\nTotalDeaths\nNewDeaths\n TotalRecovered\nNewRecovered\nActiveCases\nSerious,Critical\nTot\xa0Cases/1M pop\nDeaths/1M pop\nTotalTests\nTests/\n1M pop\n\nPopulation\nContinent\n1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl\n'

In [53]:
import bs4 as bs
import urllib.request
import pandas as pd

req = urllib.request.Request(url, headers={'User-Agent': 'Mozilla/5.0'})

source = urllib.request.urlopen(req).read()
# source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source,'lxml')

table = soup.find('table', attrs={'id':'main_table_countries_today'})
table_rows = table.find_all('tr')
# table_rows
l_rows = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l_rows.append(row)
l_rows = [el for el in l_rows if el]

In [54]:
table_header = table.find_all('th')
columns = [cell.text for cell in table_header]
pd.DataFrame(l_rows, columns=columns)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,,\nNorth America\n,"7,450,507","+40,667","274,302","+1,639","4,325,466","+39,997","2,850,739","19,446",,,,,,North America,\n,,
1,,\nSouth America\n,"6,400,791","+12,178","205,053",+458,"5,030,288","+10,939","1,165,450","15,224",,,,,,South America,\n,,
2,,\nAsia\n,"7,296,376","+107,887","145,640","+1,553","5,854,882","+86,772","1,295,854","18,842",,,,,,Asia,\n,,
3,,\nEurope\n,"3,645,760","+34,445","208,559",+385,"2,097,475","+10,717","1,339,726","5,841",,,,,,Europe,\n,,
4,,\nAfrica\n,"1,270,944","+6,527","30,303",+199,"1,008,204","+5,650","232,437","1,278",,,,,,Africa,\n,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,,Total:,"3,645,760","+34,445","208,559",+385,"2,097,475","+10,717","1,339,726","5,841",,,,,,Europe,,,
227,,Total:,"1,270,944","+6,527","30,303",+199,"1,008,204","+5,650","232,437","1,278",,,,,,Africa,,,
228,,Total:,"28,765",+109,692,+6,"23,779",+195,"4,294",35,,,,,,Australia/Oceania,,,
229,,Total:,721,,15,,651,,55,4,,,,,,,,,
230,,Total:,"26,093,864","+201,813","864,564","+4,240","18,340,745","+154,270","6,888,555","60,670","3,347.6",110.9,,,,All,\n,,

In [ ]:
# Convert values to float
for i,col_name in enumerate(df.columns):
    print
    if i!=0:
        df[col_name] = pd.to_numeric(df[col_name].apply(lambda x:x.replace(",","")),errors='coerce')
        
# Convert country to ISO codes
countries_list = df["Country,Other"]\
.apply(lambda x: x.strip()).replace({'UK': 'Great Britain', 'UAE': 'United Arab Emirates'}).values.tolist()
df["iso_alpha"] = pd.Series(coco.convert(names=countries_list, to='ISO3', not_found=None))

# Rename comma seperated cols
df = df.rename(columns={'Country,Other': 'Country',
                  'Serious,Critical': 'Critical'})

df = df.fillna(0)

# Create text that will be display on hover
df["text"] = df['Country'].apply(lambda x: x.strip()) + '<br>' + \
    'Active Cases ' + df['ActiveCases'].astype(int).astype(str) + \
    '<br>' + 'Total Deaths ' + df['TotalDeaths'].astype(int).astype(str)

In [ ]:
# Export Dataframe
df.to_csv("static/data/corona.csv",index=False,sep=",")

### Visualize df using Plotly (Optional)

In [15]:
# import plotly.express as px
# import datetime
# today_date = datetime.datetime.today().date().strftime("%d-%m-%Y")
# fig = px.choropleth(df, locations="iso_alpha",
#                     color="TotalCases",
#                     hover_name="Country",
#                     color_continuous_scale=px.colors.diverging.Portland,
#                    title='Daily Coronavirus Cases in the Word [{}]'.format(today_date)\
#                     +' Source: <a https://www.worldometers.info/coronavirus/">Worldometers</a>',
#                    height=600,
#                    range_color=[0,1000],
#                    labels={'TotalCases':'Min Number of cases'})
# fig.show()